@{
    ViewBag.Title = "双因素算法实现";
}
@section head{
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <link href="~/Content/index.css" rel="stylesheet" />
}


<div id="app">


    <Layout style="height:100%;position:fixed;top:0;right:0;bottom:0;left:0;">
        <i-header> <h1 style="color:#fff;">可重复双因素分析算法实现</h1></i-header>
        <Layout style="background:#fff;">
            <i-content style="position:relative;">
                <div style="padding:5px;background:#f1f1f1;border-bottom:1px solid #ddd;height:46px;">
                    <i-button icon="md-download" size="large" v-on:click="loadData1">加载工资测试数据</i-button>
                    <i-button icon="md-download" size="large" v-on:click="loadData2">加载《行为科学统计》书442页数据</i-button>
                    <i-button icon="md-download" size="large" v-on:click="loadData3">加载49000条数据</i-button>
                    <i-button icon="md-help-circle" size="large" v-on:click="showReadMe=true">说明文档</i-button>
                </div>
                <div class="scroll">
                    <div class="container">
                        <p v-if="!header.rows||calcData.length==0" style="padding:30px;text-align:center;">
                            数据未加载，请加载数据
                        </p>
                        <div v-if="header.rows!=undefined&&calcData.length!=0" scrollable class="ivu-table-wrapper  table-center" style="width: 100%;margin-top:10px;border:none;outline:none;padding-right:16px;position:relative;">
                            <div class="addcol" v-on:click="addcol">
                                +
                            </div>
                            <div class="ivu-table ivu-table-default ivu-table-border " style="overflow:auto;border:none!important;outline:1px solid #ddd;">
                                <table class="ivu-table" style="table-layout:fixed;">
                                    <colgroup>
                                        <col width="50" />
                                        <col width="50" />
                                        <col width="100" v-for="item in header.rows.children" />
                                    </colgroup>
                                    <tbody>
                                        <tr> <th colspan="2" rowspan="2"> </th> <th style="text-align:center" :colspan="header.rows.children.length">B因素：{{header.rows.name}}</th></tr>
                                        <tr>  <th style="text-align:center" v-for="item in header.rows.children">{{item}}</th></tr>
                                        <tr v-for="(item,rowindex) in tData">

                                            <th style="text-align:center;" v-if="rowindex==0" :rowspan="header.cols.children.length">
                                                <span style="word-break:break-all;white-space:normal;">
                                                    因素A：{{header.cols.name}}
                                                </span>

                                            </th>
                                            <th style="text-align:center">{{header.cols.children[rowindex]}}</th>
                                            <td v-for="(td,colindex) in item">
                                                <div v-if="td.length<100&&td.length!=0">
                                                    <span class="item" v-for="v in td">{{v}}</span>
                                                    <hr style="margin:10px 0;" />
                                                </div>
                                                <div v-if="td.length==0">
                                                    <span class="infoitem">无数据，请添加</span>
                                                    <hr style="margin:10px 0;" />
                                                </div>
                                                <div v-if="td.length>=100">
                                                    <span style="color:#777;">数据过多，不做显示</span>
                                                    <hr style="margin:10px 0;" />
                                                </div>

                                                <div>
                                                    <span class="infoitem " v-for="(v,k) in calcData[rowindex][colindex]">{{k}}:{{v | number}}</span>

                                                </div>
                                                <a class="edit" href="#" v-if="td.length<100" v-on:click="enterEditSource(rowindex,colindex)"><Icon type="ios-create-outline" size="16" style="vertical-align:middle"></Icon> <span style="vertical-align:middle">修改</span> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="addrow" v-on:click="addrow">
                                +
                            </div>
                        </div>
                        <div style="text-align:center;padding:10px">
                            <i-button v-on:click="calc" type="primary" :disabled="header.rows==undefined" icon="md-calculator">计算</i-button>
                        </div>
                        <br />
                    </div>
                </div>
            </i-content>
        </Layout>
    </Layout>


    <Modal v-model="showDialog" width="500" scrollable>
        <p slot="header">
            <Icon type="ios-create-outline"></Icon>
            <span>数据修改</span>
        </p>
        <div>
            <div style="padding:5px;background:#f1f1f1;text-align:left;">
                <i-button icon="md-add-circle" v-on:click="enterAddValue">添加</i-button>
            </div>
            <i-table border height="380" :columns="editColumnConfig" :data="editData"></i-table>
        </div>
        <div slot="footer">
            <i-button size="large" @@click="saveEditData" type="primary">确定</i-button>
            <i-button size="large" @@click="showDialog=false">关闭</i-button>
        </div>
    </Modal>
    <Modal v-model="showEditValueDialog " :styles="{top:'160px'}" width="500" scrollable>
        <p slot="header">
            <Icon type="ios-create-outline"></Icon>
            <span>设置值</span>
        </p>
        <div>
            <i-form :model="editValue" label-position="left" :rules="ruleValidate" :label-width="100" ref="editValue">
                <Form-Item label="数值" prop="value">
                    <i-input element-id="input" autofocus type="text" v-model="editValue.value" :maxlength="12" style="width:100%" />
                </Form-Item>

            </i-form>
        </div>
        <div slot="footer">
            <i-button size="large" @@click="saveValue" type="primary">确定</i-button>
            <i-button size="large" @@click="showEditValueDialog=false">关闭</i-button>
        </div>
    </Modal>
    <Modal v-model="loading " :closable="false" footer-hide :mask-closable="false" :styles="{top:'160px'}" width="300" scrollable>
        <div style="text-align:center;">
            <Icon type="ios-loading" id="loading" size="30"></Icon>
            <span>请稍后，更新数据中...</span>
        </div>


    </Modal>
    <Modal v-model="showResult" :styles="{top:'160px'}" width="960" scrollable>
        <p slot="header">

            <span>计算结果</span>
        </p>
        <div>
            <i-table v-if="resultData.length>0" border scrollable :columns="resultColumnConfig" :data="resultData" style="width:100%;" max-height="380" stripe></i-table>
        </div>
        <div slot="footer">
            <i-button size="large" @@click="showResult=false">关闭</i-button>
        </div>
    </Modal>

    <Modal v-model="showReadMe" :styles="{top:'160px'}" width="680" scrollable>
        <p slot="header">
            <span>Demo说明文档</span>
        </p>
        <div >
            <h3>【说明】</h3>
            <ol style="list-style-position:inside;">
                <li>本案例计算过程依据《行为科学统计》442页</li>
                <li>本Demo由于还未拿到数据库，所以数据接口部分调用的是服务器上预设的几份数据。</li>
                <li>获取服务器数据之后，用户可对样本数据进行修改（为了优化体验，测试样本少于100条的单元格才开启修改功能）</li>
                <li>对于测试样本数量过多的情况下，不显示具体数字，只显示该单元格的n，T，df 和 SS</li>


            </ol>
        </div>
        <div slot="footer">
            <i-button size="large" @@click="showReadMe=false">关闭</i-button>
        </div>
    </Modal>
</div>

<script src="~/Scripts/index.js"></script>

