<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    <link href="~/Scripts/IView/styles/iview.css" rel="stylesheet" />
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/IView/iview.min.js"></script>
    <script src="~/Scripts/IView/locale/zh-CN.js"></script>
    <script src="~/Scripts/math.min.js"></script>
    @RenderSection("head", false);
</head>
<body>
   
        @RenderBody()
     
</body>
</html>
